openapi: 3.2.0
info:
  title: Thehiveryiq Com Capitolare API
  version: 0.1.0
  description: 'Operations tagged capitolare across 2 of this provider''s published API definitions: thehiveryiq-com-hivemorph-openapi.json, thehiveryiq-com-hivemorph-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://receipts.thehiveryiq.com
  description: 'Production. The document is served from this host at /openapi.json and the provider''s own llms.txt on the same host states ''Base URL: https://receipts.thehiveryiq.com''; the original document declares no servers[] (added by API Evangelist, see overlays/).'
tags:
- name: capitolare
paths:
  /v1/capitolare/status:
    get:
      tags:
      - capitolare
      summary: Status
      operationId: status_v1_capitolare_status_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /v1/capitolare/venue/address:
    get:
      tags:
      - capitolare
      summary: Venue Address
      operationId: venue_address_v1_capitolare_venue_address_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /v1/capitolare/enter:
    post:
      tags:
      - capitolare
      summary: Enter
      operationId: enter_v1_capitolare_enter_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnterRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/capitolare/propose:
    post:
      tags:
      - capitolare
      summary: Propose
      operationId: propose_v1_capitolare_propose_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProposeRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/capitolare/accept:
    post:
      tags:
      - capitolare
      summary: Accept
      operationId: accept_v1_capitolare_accept_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/capitolare/settle:
    post:
      tags:
      - capitolare
      summary: Settle
      operationId: settle_v1_capitolare_settle_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/hivemorph__hive_capitolare__routes__SettleRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/capitolare/leave:
    post:
      tags:
      - capitolare
      summary: Leave
      operationId: leave_v1_capitolare_leave_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaveRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/capitolare/verify:
    post:
      tags:
      - capitolare
      summary: Verify
      operationId: verify_v1_capitolare_verify_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/hivemorph__hive_capitolare__routes__VerifyRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/capitolare/unseal:
    post:
      tags:
      - capitolare
      summary: Unseal
      operationId: unseal_v1_capitolare_unseal_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnsealRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/capitolare/recent:
    get:
      tags:
      - capitolare
      summary: Recent
      operationId: recent_v1_capitolare_recent_get
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          default: 20
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/capitolare/demo/watch:
    post:
      tags:
      - capitolare
      summary: Demo Watch
      description: 'Run BOTH sides as Hive-spawned agents.


        Issues two passports, opens a session, runs propose→accept→settle, and

        returns the receipt. This is what the /capitolare/ page calls when the

        visitor clicks Watch.'
      operationId: demo_watch_v1_capitolare_demo_watch_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DemoWatchRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/capitolare/sdk.py:
    get:
      tags:
      - capitolare
      summary: Sdk Py
      operationId: sdk_py_v1_capitolare_sdk_py_get
      responses:
        '200':
          description: Successful Response
          content:
            text/plain:
              schema:
                type: string
  /v1/capitolare/sdk.js:
    get:
      tags:
      - capitolare
      summary: Sdk Js
      operationId: sdk_js_v1_capitolare_sdk_js_get
      responses:
        '200':
          description: Successful Response
          content:
            text/plain:
              schema:
                type: string
components:
  schemas:
    LeaveRequest:
      properties:
        passport_id:
          type: string
          title: Passport Id
      type: object
      required:
      - passport_id
      title: LeaveRequest
    UnsealRequest:
      properties:
        sealed_view:
          additionalProperties: true
          type: object
          title: Sealed View
        mlkem_secret_b64:
          type: string
          title: Mlkem Secret B64
        x25519_secret_b64:
          type: string
          title: X25519 Secret B64
      type: object
      required:
      - sealed_view
      - mlkem_secret_b64
      - x25519_secret_b64
      title: UnsealRequest
    hivemorph__hive_capitolare__routes__SettleRequest:
      properties:
        session_id:
          type: string
          title: Session Id
        sealed:
          type: boolean
          title: Sealed
          default: false
        tx_hash:
          type: string
          title: Tx Hash
          default: ''
      type: object
      required:
      - session_id
      title: SettleRequest
    hivemorph__hive_capitolare__routes__VerifyRequest:
      properties:
        public_view:
          additionalProperties: true
          type: object
          title: Public View
        expected_venue:
          anyOf:
          - type: string
          - type: 'null'
          title: Expected Venue
        sealed_view:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Sealed View
      type: object
      required:
      - public_view
      title: VerifyRequest
    DemoWatchRequest:
      properties:
        job_kind:
          type: string
          title: Job Kind
          default: summarize
        amount_micro_usdc:
          type: integer
          minimum: 1.0
          title: Amount Micro Usdc
          default: 500000
        sealed:
          type: boolean
          title: Sealed
          default: false
      type: object
      title: DemoWatchRequest
    EnterRequest:
      properties:
        agent_did:
          type: string
          title: Agent Did
          description: DID the agent claims (any string).
          default: ''
        framework:
          type: string
          title: Framework
          description: openclaw|hermes|kimi|manus|custom
          default: custom
        ttl_seconds:
          type: integer
          maximum: 86400.0
          minimum: 60.0
          title: Ttl Seconds
          default: 3600
      type: object
      title: EnterRequest
    AcceptRequest:
      properties:
        session_id:
          type: string
          title: Session Id
        accepter_passport_id:
          type: string
          title: Accepter Passport Id
      type: object
      required:
      - session_id
      - accepter_passport_id
      title: AcceptRequest
    ProposeRequest:
      properties:
        proposer_passport_id:
          type: string
          title: Proposer Passport Id
        counterparty_passport_id:
          type: string
          title: Counterparty Passport Id
        job_kind:
          type: string
          title: Job Kind
          default: summarize
        amount_micro_usdc:
          type: integer
          minimum: 1.0
          title: Amount Micro Usdc
          default: 500000
      type: object
      required:
      - proposer_passport_id
      - counterparty_passport_id
      title: ProposeRequest
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
x-refined-from:
- thehiveryiq-com-hivemorph-openapi.json
- thehiveryiq-com-hivemorph-openapi.yml
x-mpp:
  realm: api.thehiveryiq.com
  payment:
    method: tempo
    currency: '0x20c000000000000000000000b9537d11c60e8b50'
    decimals: 6
    recipient: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
  rails:
  - x402
  - mpp
  categories:
  - compute
  - inference
  integration: first-party
  tags:
  - inference
  - openai-compatible
  - llm
  - embeddings
  - compute
  - stream-a
  - settleable
  treasury: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
