openapi: 3.2.0
info:
  title: Thehiveryiq Com Audit API
  version: 0.1.0
  description: 'Operations tagged audit across 2 of this provider''s published API definitions: thehiveryiq-com-hivemorph-openapi.json, thehiveryiq-com-hivemorph-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://receipts.thehiveryiq.com
  description: 'Production. The document is served from this host at /openapi.json and the provider''s own llms.txt on the same host states ''Base URL: https://receipts.thehiveryiq.com''; the original document declares no servers[] (added by API Evangelist, see overlays/).'
tags:
- name: Audit
paths:
  /v1/audit/readiness:
    post:
      tags:
      - Audit
      summary: Readiness
      operationId: readiness_v1_audit_readiness_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReadinessRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ReadinessRequest:
      properties:
        organization_country:
          type: string
          maxLength: 2
          minLength: 2
          title: Organization Country
        users_in_eu:
          type: boolean
          title: Users In Eu
          default: false
        users_in_california:
          type: boolean
          title: Users In California
          default: false
        users_in_colorado:
          type: boolean
          title: Users In Colorado
          default: false
        users_in_uk:
          type: boolean
          title: Users In Uk
          default: false
        ai_use_categories:
          items:
            type: string
          type: array
          title: Ai Use Categories
        monthly_inference_calls:
          type: integer
          maximum: 10000000000.0
          minimum: 0.0
          title: Monthly Inference Calls
        data_categories_processed:
          items:
            type: string
          type: array
          title: Data Categories Processed
        currently_logging:
          type: boolean
          title: Currently Logging
          default: false
        logging_method:
          type: string
          enum:
          - application_log
          - siem
          - none
          - other
          title: Logging Method
          default: none
        is_federal_agency:
          type: boolean
          title: Is Federal Agency
          default: false
        annual_revenue_usd:
          anyOf:
          - type: number
            minimum: 0.0
          - type: 'null'
          title: Annual Revenue Usd
      type: object
      required:
      - organization_country
      - monthly_inference_calls
      title: ReadinessRequest
x-refined-from:
- thehiveryiq-com-hivemorph-openapi.json
- thehiveryiq-com-hivemorph-openapi.yml
x-mpp:
  realm: api.thehiveryiq.com
  payment:
    method: tempo
    currency: '0x20c000000000000000000000b9537d11c60e8b50'
    decimals: 6
    recipient: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
  rails:
  - x402
  - mpp
  categories:
  - compute
  - inference
  integration: first-party
  tags:
  - inference
  - openai-compatible
  - llm
  - embeddings
  - compute
  - stream-a
  - settleable
  treasury: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
