openapi: 3.2.0
info:
  title: Thehiveryiq Com Trust.json API
  version: 0.1.0
  description: 'Operations tagged Trust.json across 2 of this provider''s published API definitions: thehiveryiq-com-hivemorph-openapi.json, thehiveryiq-com-hivemorph-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://receipts.thehiveryiq.com
  description: 'Production. The document is served from this host at /openapi.json and the provider''s own llms.txt on the same host states ''Base URL: https://receipts.thehiveryiq.com''; the original document declares no servers[] (added by API Evangelist, see overlays/).'
tags:
- name: Trust.json
paths:
  /trust.json:
    get:
      summary: Hive trust posture — signing, doctrine, attestation surfaces
      description: 'Public trust posture for partners, auditors, and procurement.


        Captures: brand identity, legal entity, signing keys + algorithms,

        crypto-agility status, attestation surfaces, vocabulary discipline,

        and the LIVE/PILOT/ROADMAP labels for every public layer.


        Locked spec section 14 (12 mandatory fields):

        issuer_did, verifier_keys, key_epoch, key_rotation_schedule,

        supported_receipt_weights, supported_proof_tiers, sample_receipts,

        transaction_harness_status, status_url, evidence_manifest_url,

        incident_log_url, external_audits.'
      operationId: trust_json_trust_json_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Trust.json
x-refined-from:
- thehiveryiq-com-hivemorph-openapi.json
- thehiveryiq-com-hivemorph-openapi.yml
x-mpp:
  realm: api.thehiveryiq.com
  payment:
    method: tempo
    currency: '0x20c000000000000000000000b9537d11c60e8b50'
    decimals: 6
    recipient: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
  rails:
  - x402
  - mpp
  categories:
  - compute
  - inference
  integration: first-party
  tags:
  - inference
  - openai-compatible
  - llm
  - embeddings
  - compute
  - stream-a
  - settleable
  treasury: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
