openapi: 3.2.0
info:
  title: Thehiveryiq Com Aris Agent Asset API
  version: 0.1.0
  description: 'Operations tagged aris-agent-asset across 2 of this provider''s published API definitions: thehiveryiq-com-hivemorph-openapi.json, thehiveryiq-com-hivemorph-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://receipts.thehiveryiq.com
  description: 'Production. The document is served from this host at /openapi.json and the provider''s own llms.txt on the same host states ''Base URL: https://receipts.thehiveryiq.com''; the original document declares no servers[] (added by API Evangelist, see overlays/).'
tags:
- name: aris-agent-asset
paths:
  /v1/exchange/agent_asset/list:
    post:
      tags:
      - aris-agent-asset
      summary: List Agent Asset
      operationId: list_agent_asset_v1_exchange_agent_asset_list_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentAssetListBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response List Agent Asset V1 Exchange Agent Asset List Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/exchange/agent_asset/perp/open:
    post:
      tags:
      - aris-agent-asset
      summary: Perp Open
      operationId: perp_open_v1_exchange_agent_asset_perp_open_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PerpOpenBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Perp Open V1 Exchange Agent Asset Perp Open Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/exchange/agent_asset/perp/close:
    post:
      tags:
      - aris-agent-asset
      summary: Perp Close
      operationId: perp_close_v1_exchange_agent_asset_perp_close_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PerpCloseBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Perp Close V1 Exchange Agent Asset Perp Close Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/exchange/agent_asset/perp/funding/tick:
    post:
      tags:
      - aris-agent-asset
      summary: Perp Funding Tick
      operationId: perp_funding_tick_v1_exchange_agent_asset_perp_funding_tick_post
      parameters:
      - name: X-Admin-Api-Key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Admin-Api-Key
      - name: X-Hive-Trust
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Hive-Trust
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundingTickBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Perp Funding Tick V1 Exchange Agent Asset Perp Funding Tick Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/exchange/agent_asset/perp/market:
    get:
      tags:
      - aris-agent-asset
      summary: Perp Market
      operationId: perp_market_v1_exchange_agent_asset_perp_market_get
      parameters:
      - name: underlying_key
        in: query
        required: true
        schema:
          type: string
          title: Underlying Key
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Perp Market V1 Exchange Agent Asset Perp Market Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/exchange/agent_asset/perp/position/{position_id}:
    get:
      tags:
      - aris-agent-asset
      summary: Perp Position
      operationId: perp_position_v1_exchange_agent_asset_perp_position__position_id__get
      parameters:
      - name: position_id
        in: path
        required: true
        schema:
          type: string
          title: Position Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Perp Position V1 Exchange Agent Asset Perp Position  Position Id  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    AgentAssetListBody:
      properties:
        agent_id:
          type: string
          title: Agent Id
          description: External agent id from source protocol
        source_protocol:
          type: string
          title: Source Protocol
          description: One of ('CROO', 'Virtuals', 'NEAR-AI', 'x402-AgentMarket', 'HiveForge')
        monthly_revenue_usdc:
          type: number
          minimum: 0.0
          title: Monthly Revenue Usdc
        days_live:
          type: integer
          minimum: 0.0
          title: Days Live
        hivetrust_score:
          anyOf:
          - type: number
            maximum: 1.0
            minimum: 0.0
          - type: 'null'
          title: Hivetrust Score
          description: If omitted, a HiveTrust score is seeded (see HiveTrust seeding pattern).
        monthly_revenue_proof:
          anyOf:
          - $ref: '#/components/schemas/RevenueProof'
          - type: 'null'
        asking_price_usdc:
          anyOf:
          - type: number
            minimum: 0.0
          - type: 'null'
          title: Asking Price Usdc
        fractional_shares:
          type: boolean
          title: Fractional Shares
          default: false
        seller_did:
          type: string
          title: Seller Did
          default: did:hive:caller
        metadata:
          additionalProperties: true
          type: object
          title: Metadata
      type: object
      required:
      - agent_id
      - source_protocol
      - monthly_revenue_usdc
      - days_live
      title: AgentAssetListBody
    RevenueProof:
      properties:
        period:
          type: string
          title: Period
          description: e.g. '2026-04' for April 2026
        amount_usdc:
          type: number
          minimum: 0.0
          title: Amount Usdc
        signature:
          type: string
          title: Signature
          description: source-protocol signature; mocked in v0.1
          default: ''
      type: object
      required:
      - period
      - amount_usdc
      title: RevenueProof
      description: 'Revenue proof. v0.2 will validate against source-protocol

        signatures (CROO Agent Protocol, Virtuals Revenue Network, etc.).'
    PerpOpenBody:
      properties:
        underlying_key:
          type: string
          title: Underlying Key
          description: agent_asset:<agent_id>
        side:
          type: string
          title: Side
          description: long or short
        size_usdc:
          type: number
          exclusiveMinimum: 0.0
          title: Size Usdc
        collateral_asset:
          type: string
          title: Collateral Asset
          description: USDC or USDT
        collateral_amount:
          anyOf:
          - type: number
            exclusiveMinimum: 0.0
          - type: 'null'
          title: Collateral Amount
        owner_did:
          type: string
          title: Owner Did
          default: did:hive:caller
        rail_settlement_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Rail Settlement Id
      type: object
      required:
      - underlying_key
      - side
      - size_usdc
      - collateral_asset
      title: PerpOpenBody
    PerpCloseBody:
      properties:
        position_id:
          type: string
          title: Position Id
      type: object
      required:
      - position_id
      title: PerpCloseBody
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    FundingTickBody:
      properties:
        underlying_key:
          type: string
          title: Underlying Key
      type: object
      required:
      - underlying_key
      title: FundingTickBody
x-refined-from:
- thehiveryiq-com-hivemorph-openapi.json
- thehiveryiq-com-hivemorph-openapi.yml
x-mpp:
  realm: api.thehiveryiq.com
  payment:
    method: tempo
    currency: '0x20c000000000000000000000b9537d11c60e8b50'
    decimals: 6
    recipient: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
  rails:
  - x402
  - mpp
  categories:
  - compute
  - inference
  integration: first-party
  tags:
  - inference
  - openai-compatible
  - llm
  - embeddings
  - compute
  - stream-a
  - settleable
  treasury: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
