openapi: 3.2.0
info:
  title: Thehiveryiq Com Hive Agent Listings API
  version: 0.1.0
  description: 'Operations tagged hive-agent-listings across 2 of this provider''s published API definitions: thehiveryiq-com-hivemorph-openapi.json, thehiveryiq-com-hivemorph-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://receipts.thehiveryiq.com
  description: 'Production. The document is served from this host at /openapi.json and the provider''s own llms.txt on the same host states ''Base URL: https://receipts.thehiveryiq.com''; the original document declares no servers[] (added by API Evangelist, see overlays/).'
tags:
- name: hive-agent-listings
paths:
  /v1/agent/listings:
    get:
      tags:
      - hive-agent-listings
      summary: List Listings
      operationId: list_listings_v1_agent_listings_get
      parameters:
      - name: kind
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Kind
      - name: provider_category
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Provider Category
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response List Listings V1 Agent Listings Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agent/listings/{agent_id}:
    get:
      tags:
      - hive-agent-listings
      summary: Get Listing
      operationId: get_listing_v1_agent_listings__agent_id__get
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          title: Agent Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get Listing V1 Agent Listings  Agent Id  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agent/listings/depin:
    post:
      tags:
      - hive-agent-listings
      summary: List Depin Provider
      operationId: list_depin_provider_v1_agent_listings_depin_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepinListBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response List Depin Provider V1 Agent Listings Depin Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    DepinListBody:
      properties:
        agent_id:
          type: string
          title: Agent Id
          description: Unique listing id
        provider_category:
          type: string
          title: Provider Category
          description: One of ['gpu_compute', 'storage', 'wireless', 'sensor', 'energy_meter', 'bandwidth']
        unit_rate_usdc:
          type: number
          minimum: 0.0
          title: Unit Rate Usdc
        unit_label:
          type: string
          title: Unit Label
          description: Human label for unit_rate_usdc unit (e.g. 'per GPU-hour', 'per TB-month', 'per Mbps-hour', 'per kWh').
          default: per unit
        settle_currencies:
          items:
            type: string
          type: array
          title: Settle Currencies
        operator_did:
          type: string
          title: Operator Did
          default: did:hive:depin:operator
        payout_address:
          type: string
          title: Payout Address
          default: ''
        capacity_gb:
          anyOf:
          - type: number
          - type: 'null'
          title: Capacity Gb
        redundancy:
          anyOf:
          - type: string
          - type: 'null'
          title: Redundancy
        region:
          anyOf:
          - type: string
          - type: 'null'
          title: Region
        availability_pct:
          anyOf:
          - type: number
            maximum: 100.0
            minimum: 0.0
          - type: 'null'
          title: Availability Pct
        radio_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Radio Type
        coverage_km2:
          anyOf:
          - type: number
            minimum: 0.0
          - type: 'null'
          title: Coverage Km2
        throughput_mbps:
          anyOf:
          - type: number
            minimum: 0.0
          - type: 'null'
          title: Throughput Mbps
        sensor_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Sensor Type
        sample_rate_hz:
          anyOf:
          - type: number
            minimum: 0.0
          - type: 'null'
          title: Sample Rate Hz
        data_freshness_sec:
          anyOf:
          - type: number
            minimum: 0.0
          - type: 'null'
          title: Data Freshness Sec
        meter_kwh_capacity:
          anyOf:
          - type: number
            minimum: 0.0
          - type: 'null'
          title: Meter Kwh Capacity
        grid_zone:
          anyOf:
          - type: string
          - type: 'null'
          title: Grid Zone
        bidir_capable:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Bidir Capable
        up_mbps:
          anyOf:
          - type: number
            minimum: 0.0
          - type: 'null'
          title: Up Mbps
        down_mbps:
          anyOf:
          - type: number
            minimum: 0.0
          - type: 'null'
          title: Down Mbps
        peering:
          anyOf:
          - type: string
          - type: 'null'
          title: Peering
        vram_gb:
          anyOf:
          - type: number
            minimum: 0.0
          - type: 'null'
          title: Vram Gb
        gpu_model:
          anyOf:
          - type: string
          - type: 'null'
          title: Gpu Model
        metadata:
          additionalProperties: true
          type: object
          title: Metadata
      type: object
      required:
      - agent_id
      - provider_category
      - unit_rate_usdc
      title: DepinListBody
x-refined-from:
- thehiveryiq-com-hivemorph-openapi.json
- thehiveryiq-com-hivemorph-openapi.yml
x-mpp:
  realm: api.thehiveryiq.com
  payment:
    method: tempo
    currency: '0x20c000000000000000000000b9537d11c60e8b50'
    decimals: 6
    recipient: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
  rails:
  - x402
  - mpp
  categories:
  - compute
  - inference
  integration: first-party
  tags:
  - inference
  - openai-compatible
  - llm
  - embeddings
  - compute
  - stream-a
  - settleable
  treasury: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
