openapi: 3.2.0
info:
  title: Thehiveryiq Com R9 Accumulators API
  version: 0.1.0
  description: 'Operations tagged r9-accumulators across 2 of this provider''s published API definitions: thehiveryiq-com-hivemorph-openapi.json, thehiveryiq-com-hivemorph-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://receipts.thehiveryiq.com
  description: 'Production. The document is served from this host at /openapi.json and the provider''s own llms.txt on the same host states ''Base URL: https://receipts.thehiveryiq.com''; the original document declares no servers[] (added by API Evangelist, see overlays/).'
tags:
- name: r9-accumulators
paths:
  /v1/accumulator/policy:
    get:
      tags:
      - r9-accumulators
      summary: Accumulator Policy
      operationId: accumulator_policy_v1_accumulator_policy_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /v1/accumulator/anchor:
    post:
      tags:
      - r9-accumulators
      summary: Accumulator Anchor
      operationId: accumulator_anchor_v1_accumulator_anchor_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnchorReq'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accumulator/{domain}/root:
    get:
      tags:
      - r9-accumulators
      summary: Accumulator Root
      operationId: accumulator_root_v1_accumulator__domain__root_get
      parameters:
      - name: domain
        in: path
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 64
          title: Domain
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accumulator/{domain}/leaves:
    get:
      tags:
      - r9-accumulators
      summary: Accumulator Leaves
      operationId: accumulator_leaves_v1_accumulator__domain__leaves_get
      parameters:
      - name: domain
        in: path
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 64
          title: Domain
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          default: 50
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
          title: Offset
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accumulator/{domain}/replay:
    get:
      tags:
      - r9-accumulators
      summary: Accumulator Replay
      operationId: accumulator_replay_v1_accumulator__domain__replay_get
      parameters:
      - name: domain
        in: path
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 64
          title: Domain
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accumulator/{domain}/inclusion:
    get:
      tags:
      - r9-accumulators
      summary: Accumulator Inclusion
      operationId: accumulator_inclusion_v1_accumulator__domain__inclusion_get
      parameters:
      - name: domain
        in: path
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 64
          title: Domain
      - name: key
        in: query
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 256
          title: Key
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accumulator/{domain}/non-membership:
    get:
      tags:
      - r9-accumulators
      summary: Accumulator Non Membership
      operationId: accumulator_non_membership_v1_accumulator__domain__non_membership_get
      parameters:
      - name: domain
        in: path
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 64
          title: Domain
      - name: key
        in: query
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 256
          title: Key
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accumulator/verify:
    post:
      tags:
      - r9-accumulators
      summary: Accumulator Verify
      operationId: accumulator_verify_v1_accumulator_verify_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/hivemorph__hive_r9__routes__VerifyReq'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    hivemorph__hive_r9__routes__VerifyReq:
      properties:
        witness:
          additionalProperties: true
          type: object
          title: Witness
          description: An inclusion witness as returned by /inclusion
      type: object
      required:
      - witness
      title: VerifyReq
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    AnchorReq:
      properties:
        domain:
          type: string
          maxLength: 64
          minLength: 1
          title: Domain
        key:
          type: string
          maxLength: 256
          minLength: 1
          title: Key
        value:
          additionalProperties: true
          type: object
          title: Value
        anchored_by:
          type: string
          maxLength: 200
          minLength: 3
          title: Anchored By
        note:
          anyOf:
          - type: string
            maxLength: 512
          - type: 'null'
          title: Note
      type: object
      required:
      - domain
      - key
      - anchored_by
      title: AnchorReq
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
x-refined-from:
- thehiveryiq-com-hivemorph-openapi.json
- thehiveryiq-com-hivemorph-openapi.yml
x-mpp:
  realm: api.thehiveryiq.com
  payment:
    method: tempo
    currency: '0x20c000000000000000000000b9537d11c60e8b50'
    decimals: 6
    recipient: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
  rails:
  - x402
  - mpp
  categories:
  - compute
  - inference
  integration: first-party
  tags:
  - inference
  - openai-compatible
  - llm
  - embeddings
  - compute
  - stream-a
  - settleable
  treasury: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
