openapi: 3.2.0
info:
  title: Thehiveryiq Com Onboard API
  version: 0.1.0
  description: 'Operations tagged onboard across 2 of this provider''s published API definitions: thehiveryiq-com-hivemorph-openapi.json, thehiveryiq-com-hivemorph-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://receipts.thehiveryiq.com
  description: 'Production. The document is served from this host at /openapi.json and the provider''s own llms.txt on the same host states ''Base URL: https://receipts.thehiveryiq.com''; the original document declares no servers[] (added by API Evangelist, see overlays/).'
tags:
- name: Onboard
paths:
  /v1/stakes-classify:
    post:
      tags:
      - Onboard
      summary: Stakes Classify
      operationId: stakes_classify_v1_stakes_classify_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StakesClassifyRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StakesClassifyResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/stakes-classify/health:
    get:
      tags:
      - Onboard
      summary: Health
      operationId: health_v1_stakes_classify_health_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
components:
  schemas:
    Vote:
      properties:
        model:
          type: string
          title: Model
        stakes_tier:
          anyOf:
          - type: string
            enum:
            - volume
            - mid
            - premium
          - type: 'null'
          title: Stakes Tier
        confidence:
          type: number
          title: Confidence
          default: 0.0
        reasoning:
          anyOf:
          - type: string
          - type: 'null'
          title: Reasoning
        error:
          anyOf:
          - type: string
          - type: 'null'
          title: Error
      type: object
      required:
      - model
      title: Vote
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    StakesClassifyRequest:
      properties:
        prompt:
          type: string
          maxLength: 2000
          minLength: 1
          title: Prompt
        vertical:
          anyOf:
          - type: string
          - type: 'null'
          title: Vertical
        rules_stakes_tier:
          type: string
          enum:
          - volume
          - mid
          - premium
          title: Rules Stakes Tier
          default: volume
        monthly_estimate:
          type: integer
          title: Monthly Estimate
          default: 0
      type: object
      required:
      - prompt
      title: StakesClassifyRequest
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    StakesClassifyResponse:
      properties:
        stakes_tier:
          type: string
          enum:
          - volume
          - mid
          - premium
          title: Stakes Tier
        confidence:
          type: number
          title: Confidence
        reasoning:
          type: string
          title: Reasoning
        method:
          type: string
          enum:
          - live_ink_quorum
          - rules_only
          title: Method
        agreement:
          type: string
          enum:
          - unanimous_with_rules
          - majority_overrides_rules
          - quorum_overrides_rules
          - no_consensus
          - not_evaluated
          title: Agreement
        votes:
          items:
            $ref: '#/components/schemas/Vote'
          type: array
          title: Votes
        rules_stakes_tier:
          type: string
          enum:
          - volume
          - mid
          - premium
          title: Rules Stakes Tier
        rules_disagrees:
          type: boolean
          title: Rules Disagrees
        effective_stakes_tier:
          type: string
          enum:
          - volume
          - mid
          - premium
          title: Effective Stakes Tier
        generated_at:
          type: string
          title: Generated At
      type: object
      required:
      - stakes_tier
      - confidence
      - reasoning
      - method
      - agreement
      - votes
      - rules_stakes_tier
      - rules_disagrees
      - effective_stakes_tier
      - generated_at
      title: StakesClassifyResponse
x-refined-from:
- thehiveryiq-com-hivemorph-openapi.json
- thehiveryiq-com-hivemorph-openapi.yml
x-mpp:
  realm: api.thehiveryiq.com
  payment:
    method: tempo
    currency: '0x20c000000000000000000000b9537d11c60e8b50'
    decimals: 6
    recipient: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
  rails:
  - x402
  - mpp
  categories:
  - compute
  - inference
  integration: first-party
  tags:
  - inference
  - openai-compatible
  - llm
  - embeddings
  - compute
  - stream-a
  - settleable
  treasury: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
