openapi: 3.2.0
info:
  title: Thehiveryiq Com Echo API
  version: 0.1.0
  description: 'Operations tagged echo across 2 of this provider''s published API definitions: thehiveryiq-com-hivemorph-openapi.json, thehiveryiq-com-hivemorph-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://receipts.thehiveryiq.com
  description: 'Production. The document is served from this host at /openapi.json and the provider''s own llms.txt on the same host states ''Base URL: https://receipts.thehiveryiq.com''; the original document declares no servers[] (added by API Evangelist, see overlays/).'
tags:
- name: echo
paths:
  /v1/xcalibur/echo/v2/compress:
    post:
      tags:
      - echo
      summary: Compress
      operationId: compress_v1_xcalibur_echo_v2_compress_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompressV2Request'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Compress V1 Xcalibur Echo V2 Compress Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/xcalibur/echo/v2/health:
    get:
      tags:
      - echo
      summary: Health
      operationId: health_v1_xcalibur_echo_v2_health_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Health V1 Xcalibur Echo V2 Health Get
components:
  schemas:
    CompressV2Request:
      properties:
        prompt:
          type: string
          minLength: 1
          title: Prompt
        task_query:
          anyOf:
          - type: string
          - type: 'null'
          title: Task Query
          description: Output-conditioned hint, e.g. 'Summarize this report.' Defaults to a generic summarize prompt if omitted.
        target_ratio:
          type: number
          exclusiveMaximum: 1.0
          exclusiveMinimum: 0.0
          title: Target Ratio
          description: Compressed length ≤ target_ratio × original (0.5 = 2x compression).
          default: 0.5
        min_preservation:
          type: number
          maximum: 1.0
          minimum: 0.0
          title: Min Preservation
          description: Reject candidates scoring below this oracle threshold; the selector picks best regardless and flags if below.
          default: 0.0
      type: object
      required:
      - prompt
      title: CompressV2Request
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
x-refined-from:
- thehiveryiq-com-hivemorph-openapi.json
- thehiveryiq-com-hivemorph-openapi.yml
x-mpp:
  realm: api.thehiveryiq.com
  payment:
    method: tempo
    currency: '0x20c000000000000000000000b9537d11c60e8b50'
    decimals: 6
    recipient: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
  rails:
  - x402
  - mpp
  categories:
  - compute
  - inference
  integration: first-party
  tags:
  - inference
  - openai-compatible
  - llm
  - embeddings
  - compute
  - stream-a
  - settleable
  treasury: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
