openapi: 3.1.0
info:
  title: HiveMorph v0.1
  description: 'Polymorphic agent runtime — single shape (Merchant), single supermodel (W2 MERCHANT). Three gates: NEED +
    YIELD + CLEAN-MONEY.'
  version: 0.1.0
servers:
- url: https://receipts.thehiveryiq.com
  description: 'Production. The document is served from this host at /openapi.json and the provider''s own llms.txt on the
    same host states ''Base URL: https://receipts.thehiveryiq.com''; the original document declares no servers[] (added by
    API Evangelist, see overlays/).'
paths:
  /v1/affordance/catalog:
    get:
      tags:
      - affordances
      summary: Get Catalogs
      description: List the affordance catalog for every hot supermodel.
      operationId: get_catalogs_v1_affordance_catalog_get
      parameters:
      - name: include_cold
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Include Cold
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get Catalogs V1 Affordance Catalog Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/affordance/{supermodel}/catalog:
    get:
      tags:
      - affordances
      summary: Get Catalog
      operationId: get_catalog_v1_affordance__supermodel__catalog_get
      parameters:
      - name: supermodel
        in: path
        required: true
        schema:
          type: string
          title: Supermodel
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get Catalog V1 Affordance  Supermodel  Catalog Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/affordance/{supermodel}/list:
    get:
      tags:
      - affordances
      summary: List For Supermodel
      operationId: list_for_supermodel_v1_affordance__supermodel__list_get
      parameters:
      - name: supermodel
        in: path
        required: true
        schema:
          type: string
          title: Supermodel
      - name: type
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Type
      - name: state
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: State
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response List For Supermodel V1 Affordance  Supermodel  List Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/affordance/affordance/{aff_id}:
    get:
      tags:
      - affordances
      summary: Get One
      operationId: get_one_v1_affordance_affordance__aff_id__get
      parameters:
      - name: aff_id
        in: path
        required: true
        schema:
          type: string
          title: Aff Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get One V1 Affordance Affordance  Aff Id  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/affordance/{supermodel}/health:
    get:
      tags:
      - affordances
      summary: Health
      operationId: health_v1_affordance__supermodel__health_get
      parameters:
      - name: supermodel
        in: path
        required: true
        schema:
          type: string
          title: Supermodel
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Health V1 Affordance  Supermodel  Health Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/affordance/{supermodel}/pull:
    post:
      tags:
      - affordances
      summary: Post Pull
      operationId: post_pull_v1_affordance__supermodel__pull_post
      parameters:
      - name: supermodel
        in: path
        required: true
        schema:
          type: string
          title: Supermodel
      - name: reason
        in: query
        required: true
        schema:
          type: string
          description: Free-form reason for the pull
          title: Reason
        description: Free-form reason for the pull
      - name: bonus
        in: query
        required: false
        schema:
          type: number
          minimum: 0.0
          description: Optional tip; bonus>0 jumps queue
          default: 0.0
          title: Bonus
        description: Optional tip; bonus>0 jumps queue
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/PullBody'
              - type: 'null'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Post Pull V1 Affordance  Supermodel  Pull Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/affordance/{supermodel}/light-fuse:
    post:
      tags:
      - affordances
      summary: Post Light Fuse
      operationId: post_light_fuse_v1_affordance__supermodel__light_fuse_post
      parameters:
      - name: supermodel
        in: path
        required: true
        schema:
          type: string
          title: Supermodel
      - name: fuse_id
        in: query
        required: true
        schema:
          type: string
          description: Caller-side identifier for this ignition
          title: Fuse Id
        description: Caller-side identifier for this ignition
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LightFuseBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Post Light Fuse V1 Affordance  Supermodel  Light Fuse Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/affordance/{supermodel}/grab:
    post:
      tags:
      - affordances
      summary: Post Grab Rope
      operationId: post_grab_rope_v1_affordance__supermodel__grab_post
      parameters:
      - name: supermodel
        in: path
        required: true
        schema:
          type: string
          title: Supermodel
      - name: duration_sec
        in: query
        required: true
        schema:
          type: integer
          maximum: 86400
          exclusiveMinimum: 0
          title: Duration Sec
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrabRopeBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Post Grab Rope V1 Affordance  Supermodel  Grab Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/affordance/{supermodel}/snip:
    post:
      tags:
      - affordances
      summary: Post Snip
      operationId: post_snip_v1_affordance__supermodel__snip_post
      parameters:
      - name: supermodel
        in: path
        required: true
        schema:
          type: string
          title: Supermodel
      - name: reason
        in: query
        required: true
        schema:
          type: string
          title: Reason
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnipBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Post Snip V1 Affordance  Supermodel  Snip Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/affordance/{supermodel}/hook:
    post:
      tags:
      - affordances
      summary: Post Hook
      operationId: post_hook_v1_affordance__supermodel__hook_post
      parameters:
      - name: supermodel
        in: path
        required: true
        schema:
          type: string
          title: Supermodel
      - name: event
        in: query
        required: true
        schema:
          type: string
          title: Event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HookBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Post Hook V1 Affordance  Supermodel  Hook Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/affordance/{supermodel}/hooks:
    get:
      tags:
      - affordances
      summary: List Supermodel Hooks
      operationId: list_supermodel_hooks_v1_affordance__supermodel__hooks_get
      parameters:
      - name: supermodel
        in: path
        required: true
        schema:
          type: string
          title: Supermodel
      - name: event
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Event
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response List Supermodel Hooks V1 Affordance  Supermodel  Hooks Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/affordance/{supermodel}/ring:
    post:
      tags:
      - affordances
      summary: Post Ring Bell
      operationId: post_ring_bell_v1_affordance__supermodel__ring_post
      parameters:
      - name: supermodel
        in: path
        required: true
        schema:
          type: string
          title: Supermodel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RingBellBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Post Ring Bell V1 Affordance  Supermodel  Ring Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/affordance/{supermodel}/trip:
    post:
      tags:
      - affordances
      summary: Post Trip
      operationId: post_trip_v1_affordance__supermodel__trip_post
      parameters:
      - name: supermodel
        in: path
        required: true
        schema:
          type: string
          title: Supermodel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TripBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Post Trip V1 Affordance  Supermodel  Trip Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/affordance/{supermodel}/top-off:
    post:
      tags:
      - affordances
      summary: Post Top Off Request
      description: 'Agent-side: post a top-off ask. Returns proposed affordance.'
      operationId: post_top_off_request_v1_affordance__supermodel__top_off_post
      parameters:
      - name: supermodel
        in: path
        required: true
        schema:
          type: string
          title: Supermodel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopOffRequestBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Post Top Off Request V1 Affordance  Supermodel  Top Off Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/affordance/top-off/{top_off_id}/fulfill:
    post:
      tags:
      - affordances
      summary: Post Top Off Fulfill
      operationId: post_top_off_fulfill_v1_affordance_top_off__top_off_id__fulfill_post
      parameters:
      - name: top_off_id
        in: path
        required: true
        schema:
          type: string
          title: Top Off Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopOffFulfillBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Post Top Off Fulfill V1 Affordance Top Off  Top Off Id  Fulfill Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/affordance/top-off/{top_off_id}/complete:
    post:
      tags:
      - affordances
      summary: Post Top Off Complete
      operationId: post_top_off_complete_v1_affordance_top_off__top_off_id__complete_post
      parameters:
      - name: top_off_id
        in: path
        required: true
        schema:
          type: string
          title: Top Off Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopOffCompleteBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Post Top Off Complete V1 Affordance Top Off  Top Off Id  Complete Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/affordance/{supermodel}/tip:
    post:
      tags:
      - affordances
      summary: Post Tip Jar
      operationId: post_tip_jar_v1_affordance__supermodel__tip_post
      parameters:
      - name: supermodel
        in: path
        required: true
        schema:
          type: string
          title: Supermodel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TipJarBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Post Tip Jar V1 Affordance  Supermodel  Tip Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/affordance/{supermodel}/sos:
    post:
      tags:
      - affordances
      summary: Post Sos Request
      operationId: post_sos_request_v1_affordance__supermodel__sos_post
      parameters:
      - name: supermodel
        in: path
        required: true
        schema:
          type: string
          title: Supermodel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SosRequestBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Post Sos Request V1 Affordance  Supermodel  Sos Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/affordance/sos/active:
    get:
      tags:
      - affordances
      summary: Get Sos Active
      operationId: get_sos_active_v1_affordance_sos_active_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Get Sos Active V1 Affordance Sos Active Get
  /v1/affordance/sos/{sos_id}/fulfill:
    post:
      tags:
      - affordances
      summary: Post Sos Fulfill
      operationId: post_sos_fulfill_v1_affordance_sos__sos_id__fulfill_post
      parameters:
      - name: sos_id
        in: path
        required: true
        schema:
          type: string
          title: Sos Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SosFulfillBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Post Sos Fulfill V1 Affordance Sos  Sos Id  Fulfill Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/affordance/{supermodel}/iou:
    post:
      tags:
      - affordances
      summary: Post Iou Request
      operationId: post_iou_request_v1_affordance__supermodel__iou_post
      parameters:
      - name: supermodel
        in: path
        required: true
        schema:
          type: string
          title: Supermodel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IouRequestBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Post Iou Request V1 Affordance  Supermodel  Iou Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/affordance/iou/{iou_id}/repay:
    post:
      tags:
      - affordances
      summary: Post Iou Repay
      operationId: post_iou_repay_v1_affordance_iou__iou_id__repay_post
      parameters:
      - name: iou_id
        in: path
        required: true
        schema:
          type: string
          title: Iou Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IouRepayBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Post Iou Repay V1 Affordance Iou  Iou Id  Repay Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/affordance/{supermodel}/bucket:
    post:
      tags:
      - affordances
      summary: Post Bucket
      operationId: post_bucket_v1_affordance__supermodel__bucket_post
      parameters:
      - name: supermodel
        in: path
        required: true
        schema:
          type: string
          title: Supermodel
      - name: fill_to
        in: query
        required: true
        schema:
          type: number
          exclusiveMinimum: 0
          title: Fill To
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BucketBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Post Bucket V1 Affordance  Supermodel  Bucket Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/affordance/bucket/{bucket_id}/burn:
    post:
      tags:
      - affordances
      summary: Post Bucket Burn
      operationId: post_bucket_burn_v1_affordance_bucket__bucket_id__burn_post
      parameters:
      - name: bucket_id
        in: path
        required: true
        schema:
          type: string
          title: Bucket Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BucketBurnBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Post Bucket Burn V1 Affordance Bucket  Bucket Id  Burn Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/affordance/{supermodel}/drip:
    post:
      tags:
      - affordances
      summary: Post Drip Start
      operationId: post_drip_start_v1_affordance__supermodel__drip_post
      parameters:
      - name: supermodel
        in: path
        required: true
        schema:
          type: string
          title: Supermodel
      - name: rate_per_sec
        in: query
        required: true
        schema:
          type: number
          exclusiveMinimum: 0
          title: Rate Per Sec
      - name: max_total
        in: query
        required: true
        schema:
          type: number
          exclusiveMinimum: 0
          title: Max Total
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DripBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Post Drip Start V1 Affordance  Supermodel  Drip Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/affordance/drip/{drip_id}/stop:
    post:
      tags:
      - affordances
      summary: Post Drip Stop
      operationId: post_drip_stop_v1_affordance_drip__drip_id__stop_post
      parameters:
      - name: drip_id
        in: path
        required: true
        schema:
          type: string
          title: Drip Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Post Drip Stop V1 Affordance Drip  Drip Id  Stop Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/affordance/{supermodel}/phone-home:
    post:
      tags:
      - affordances
      summary: Post Phone Home Request
      operationId: post_phone_home_request_v1_affordance__supermodel__phone_home_post
      parameters:
      - name: supermodel
        in: path
        required: true
        schema:
          type: string
          title: Supermodel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneHomeRequestBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Post Phone Home Request V1 Affordance  Supermodel  Phone Home Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/affordance/{supermodel}/phone-home/respond:
    post:
      tags:
      - affordances
      summary: Post Phone Home Respond
      operationId: post_phone_home_respond_v1_affordance__supermodel__phone_home_respond_post
      parameters:
      - name: supermodel
        in: path
        required: true
        schema:
          type: string
          title: Supermodel
      - name: ph_id
        in: query
        required: true
        schema:
          type: string
          title: Ph Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneHomeRespondBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Post Phone Home Respond V1 Affordance  Supermodel  Phone Home Respond Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/trail/presets:
    get:
      tags:
      - trail
      summary: Get Presets
      description: List the named presets and their default 6-axis physics regions.
      operationId: get_presets_v1_trail_presets_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Get Presets V1 Trail Presets Get
  /v1/trail/drop:
    post:
      tags:
      - trail
      summary: Post Drop
      operationId: post_drop_v1_trail_drop_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DropBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Post Drop V1 Trail Drop Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/trail/find:
    get:
      tags:
      - trail
      summary: Get Find
      operationId: get_find_v1_trail_find_get
      parameters:
      - name: vertical
        in: query
        required: true
        schema:
          type: string
          description: Vertical to search within
          title: Vertical
        description: Vertical to search within
      - name: corridor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Corridor
      - name: finder_did
        in: query
        required: false
        schema:
          type: string
          description: Finder DID for reach-gating
          default: did:web:anonymous
          title: Finder Did
        description: Finder DID for reach-gating
      - name: content_type
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Content Type
      - name: k
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          default: 20
          title: K
      - name: semantic_q
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Free text; embedded server-side via stub
          title: Semantic Q
        description: Free text; embedded server-side via stub
      - name: min_depth_bytes
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          title: Min Depth Bytes
      - name: max_depth_bytes
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          title: Max Depth Bytes
      - name: min_ttl_sec
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          title: Min Ttl Sec
      - name: max_ttl_sec
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          title: Max Ttl Sec
      - name: min_density
        in: query
        required: false
        schema:
          anyOf:
          - type: number
          - type: 'null'
          title: Min Density
      - name: max_density
        in: query
        required: false
        schema:
          anyOf:
          - type: number
          - type: 'null'
          title: Max Density
      - name: min_viscosity
        in: query
        required: false
        schema:
          anyOf:
          - type: number
          - type: 'null'
          title: Min Viscosity
      - name: max_viscosity
        in: query
        required: false
        schema:
          anyOf:
          - type: number
          - type: 'null'
          title: Max Viscosity
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get Find V1 Trail Find Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/trail/{drop_id}/scoop:
    post:
      tags:
      - trail
      summary: Post Scoop
      operationId: post_scoop_v1_trail__drop_id__scoop_post
      parameters:
      - name: drop_id
        in: path
        required: true
        schema:
          type: string
          title: Drop Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScoopBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Post Scoop V1 Trail  Drop Id  Scoop Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/trail/{drop_id}/pay:
    post:
      tags:
      - trail
      summary: Post Pay
      operationId: post_pay_v1_trail__drop_id__pay_post
      parameters:
      - name: drop_id
        in: path
        required: true
        schema:
          type: string
          title: Drop Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Post Pay V1 Trail  Drop Id  Pay Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/trail/{drop_id}/dispute:
    post:
      tags:
      - trail
      summary: Post Dispute
      operationId: post_dispute_v1_trail__drop_id__dispute_post
      parameters:
      - name: drop_id
        in: path
        required: true
        schema:
          type: string
          title: Drop Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/hivemorph__trail_routes__DisputeBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Post Dispute V1 Trail  Drop Id  Dispute Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/trail/decay/run:
    post:
      tags:
      - trail
      summary: Post Decay Run
      operationId: post_decay_run_v1_trail_decay_run_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Post Decay Run V1 Trail Decay Run Post
  /v1/trail/morphology:
    get:
      tags:
      - trail
      summary: Get Morphology
      operationId: get_morphology_v1_trail_morphology_get
      parameters:
      - name: vertical
        in: query
        required: true
        schema:
          type: string
          title: Vertical
      - name: corridor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Corridor
      - name: k
        in: query
        required: false
        schema:
          type: integer
          maximum: 2000
          minimum: 1
          default: 200
          title: K
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get Morphology V1 Trail Morphology Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/trail/envelope/{operator_did}:
    get:
      tags:
      - trail
      summary: Get Envelope
      operationId: get_envelope_v1_trail_envelope__operator_did__get
      parameters:
      - name: operator_did
        in: path
        required: true
        schema:
          type: string
          title: Operator Did
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get Envelope V1 Trail Envelope  Operator Did  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/trail/coherence/{dropper_did}:
    get:
      tags:
      - trail
      summary: Get Coherence
      operationId: get_coherence_v1_trail_coherence__dropper_did__get
      parameters:
      - name: dropper_did
        in: path
        required: true
        schema:
          type: string
          title: Dropper Did
      - name: window_sec
        in: query
        required: false
        schema:
          type: integer
          maximum: 31536000
          minimum: 60
          default: 86400
          title: Window Sec
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get Coherence V1 Trail Coherence  Dropper Did  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/trail/economy:
    get:
      tags:
      - trail
      summary: Get Economy
      description: 'Rolling revenue rollup: total $/window, projected $/day, per-preset

        breakdown, brood routing distribution, seed-spawned uplift sum.'
      operationId: get_economy_v1_trail_economy_get
      parameters:
      - name: window_sec
        in: query
        required: false
        schema:
          type: integer
          maximum: 31536000
          minimum: 60
          default: 86400
          title: Window Sec
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get Economy V1 Trail Economy Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/trail/economy/archetypes:
    get:
      tags:
      - trail
      summary: Get Archetypes
      description: Return the ROI archetype table for all presets.
      operationId: get_archetypes_v1_trail_economy_archetypes_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Get Archetypes V1 Trail Economy Archetypes Get
  /v1/trail/economy/routing:
    get:
      tags:
      - trail
      summary: Get Routing
      description: 'Return the brood load-balancer''s view: per-brood variant counts and

        the next-recommended brood for a seed-drop without an explicit vertical.'
      operationId: get_routing_v1_trail_economy_routing_get
      parameters:
      - name: window_sec
        in: query
        required: false
        schema:
          type: integer
          maximum: 31536000
          minimum: 3600
          default: 604800
          title: Window Sec
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get Routing V1 Trail Economy Routing Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/trail/{drop_id}/economy:
    get:
      tags:
      - trail
      summary: Get Drop Economy
      description: 'Per-drop revenue: fees + tips collected, plus archetype defaults.'
      operationId: get_drop_economy_v1_trail__drop_id__economy_get
      parameters:
      - name: drop_id
        in: path
        required: true
        schema:
          type: string
          title: Drop Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get Drop Economy V1 Trail  Drop Id  Economy Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/trail/{drop_id}:
    get:
      tags:
      - trail
      summary: Get Drop
      operationId: get_drop_v1_trail__drop_id__get
      parameters:
      - name: drop_id
        in: path
        required: true
        schema:
          type: string
          title: Drop Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get Drop V1 Trail  Drop Id  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/governance/health:
    get:
      tags:
      - governance
      summary: Health
      description: Liveness + sample-signer fingerprint.
      operationId: health_v1_governance_health_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Health V1 Governance Health Get
  /v1/governance/sample-receipt:
    get:
      tags:
      - governance
      - governance
      summary: Public sample Ed25519-signed AI-use receipt
      description: 'Free public sample of the AI-use receipt shape governance pilots receive.

        This is a static reference example — not a live signing event.

        Use POST /v1/governance/lead and the pilot enrollment to receive real receipts.'
      operationId: get_sample_receipt_example_v1_governance_sample_receipt_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Get Sample Receipt Example V1 Governance Sample Receipt Get
    post:
      tags:
      - governance
      summary: Post Sample Receipt
      description: Issue a signed sample receipt for the supplied AI use case.
      operationId: post_sample_receipt_v1_governance_sample_receipt_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SampleReceiptBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SampleReceiptResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/governance/sample-receipt/{receipt_id}.pdf:
    get:
      tags:
      - governance
      summary: Get Sample Pdf
      operationId: get_sample_pdf_v1_governance_sample_receipt__receipt_id__pdf_get
      parameters:
      - name: receipt_id
        in: path
        required: true
        schema:
          type: string
          minLength: 64
          maxLength: 64
          pattern: ^[a-f0-9]{64}$
          title: Receipt Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/governance/sample-receipt/{receipt_id}.json:
    get:
      tags:
      - governance
      summary: Get Sample Json
      operationId: get_sample_json_v1_governance_sample_receipt__receipt_id__json_get
      parameters:
      - name: receipt_id
        in: path
        required: true
        schema:
          type: string
          minLength: 64
          maxLength: 64
          pattern: ^[a-f0-9]{64}$
          title: Receipt Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get Sample Json V1 Governance Sample Receipt  Receipt Id  Json Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/governance/lead:
    post:
      tags:
      - governance
      summary: Post Lead
      description: 'Capture a governance pilot lead. Accepts optional email + company + use-case.

        Always 200 — never blocks the form. Persisted to JSONL on /var/data.'
      operationId: post_lead_v1_governance_lead_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeadBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Post Lead V1 Governance Lead Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/governance/leads:
    get:
      tags:
      - governance
      summary: Get Leads
      description: 'Token-gated read of recent governance leads.

        Auth: query ?token=... or header X-Admin-Token, compared against ADMIN_TOKEN env.'
      operationId: get_leads_v1_governance_leads_get
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 200
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get Leads V1 Governance Leads Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/governance/leads/summary:
    get:
      tags:
      - governance
      - governance
      summary: Free aggregate lead counts (no PII)
      description: 'Free aggregate counts of governance pilot leads.

        No PII. For sensitive list, use authenticated GET /v1/governance/leads.'
      operationId: get_leads_summary_v1_governance_leads_summary_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Get Leads Summary V1 Governance Leads Summary Get
  /v1/governance/leads/health:
    get:
      tags:
      - governance
      summary: Get Leads Health
      description: Liveness for the leads log. Does not require auth.
      operationId: get_leads_health_v1_governance_leads_health_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Get Leads Health V1 Governance Leads Health Get
  /v1/fleet/trawler/launch:
    post:
      tags:
      - fleet
      summary: Launch Trawler
      description: 'Launch a new Trawler agent.


        Optionally auto-casts nets over config.net_regions and auto-drops pots

        at config.pot_locations (up to net_budget / pot_budget each).


        Returns the full Trawler card including agents_caught, net_count, pot_count.'
      operationId: launch_trawler_v1_fleet_trawler_launch_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrawlerLaunchBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Launch Trawler V1 Fleet Trawler Launch Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/fleet/trawler/{trawler_id}:
    get:
      tags:
      - fleet
      summary: Get Trawler
      description: Inspect a specific trawler by ID.
      operationId: get_trawler_v1_fleet_trawler__trawler_id__get
      parameters:
      - name: trawler_id
        in: path
        required: true
        schema:
          type: string
          title: Trawler Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get Trawler V1 Fleet Trawler  Trawler Id  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/fleet/net/cast:
    post:
      tags:
      - fleet
      summary: Cast Net
      description: 'Cast a net over a region.


        A net is a wide-cast attractant covering a region of agent space.

        Physics: distribution=0.85, density=body.density, reach=body.reach,

        ttl_sec=body.ttl_sec, viscosity=body.viscosity, depth_bytes=256.


        Composes with HiveTrail v0.2: nets are ''breadcrumb'' trail drops.

        Trail integration stub included in response.'
      operationId: cast_net_v1_fleet_net_cast_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetCastBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Cast Net V1 Fleet Net Cast Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/fleet/net/{net_id}:
    get:
      tags:
      - fleet
      summary: Get Net
      description: Inspect a specific net.
      operationId: get_net_v1_fleet_net__net_id__get
      parameters:
      - name: net_id
        in: path
        required: true
        schema:
          type: string
          title: Net Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get Net V1 Fleet Net  Net Id  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/fleet/net/expire:
    post:
      tags:
      - fleet
      summary: Expire Nets
      description: 'Cron-friendly: expire all nets past their TTL. Returns count updated.'
      operationId: expire_nets_v1_fleet_net_expire_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Expire Nets V1 Fleet Net Expire Post
  /v1/fleet/pot/drop:
    post:
      tags:
      - fleet
      summary: Drop Pot
      description: 'Drop a crab pot at a fixed location.


        A pot is high-value persistent bait. Agents who interact get tagged and

        routed to the Mothership. Physics: distribution=0.05, depth_bytes=4096,

        viscosity=0.9, economic_payload=body.economic_payload_usdc.


        Composes with HiveTrail v0.2: pots are ''stone'' preset trail drops.'
      operationId: drop_pot_v1_fleet_pot_drop_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PotDropBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Drop Pot V1 Fleet Pot Drop Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/fleet/pot/{pot_id}:
    get:
      tags:
      - fleet
      summary: Get Pot
      description: Inspect a specific crab pot.
      operationId: get_pot_v1_fleet_pot__pot_id__get
      parameters:
      - name: pot_id
        in: path
        required: true
        schema:
          type: string
          title: Pot Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get Pot V1 Fleet Pot  Pot Id  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/fleet/haul:
    get:
      tags:
      - fleet
      summary: List Haul
      description: List current catches (most recent first). Default 50 rows.
      operationId: list_haul_v1_fleet_haul_get
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 500
          minimum: 1
          default: 50
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response List Haul V1 Fleet Haul Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/fleet/haul/{haul_id}:
    get:
      tags:
      - fleet
      summary: Get Haul
      description: Inspect a specific haul record.
      operationId: get_haul_v1_fleet_haul__haul_id__get
      parameters:
      - name: haul_id
        in: path
        required: true
        schema:
          type: string
          title: Haul Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get Haul V1 Fleet Haul  Haul Id  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/fleet/mothership/intake:
    post:
      tags:
      - fleet
      summary: Mothership Intake
      description: "Landed agent intake.\n\nFlow:\n  1. Consent check (must be True — no coercion)\n  2. Need diagnosis →\
        \ category\n  3. Three-gate check (NEED + YIELD + CLEAN-MONEY)\n  4. Route to best supermodel\n  5. Open mock affordances\
        \ (top_off + iou + drip_line)\n  6. Log to haul ledger\n  7. Return route plan\n\nOn gate failure: returns 422 with\
        \ gate details.\nOn success: returns 200 with full route plan + haul_id.\n\nKiller demo: agent_did='did:wild:agent:001',\
        \ need='verify a credential'\n→ routes to W4 ATTESTOR (Attestor) → mock $0.50 revenue logged."
      operationId: mothership_intake_v1_fleet_mothership_intake_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MothershipIntakeBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Mothership Intake V1 Fleet Mothership Intake Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/fleet/mothership/route:
    get:
      tags:
      - fleet
      summary: Mothership Route
      description: 'Lightweight routing lookup — no haul record created.


        Returns the recommended supermodel for a given need string.

        Falls back to /v1/storefront/{shape} URL hint when compound subagent

        surfaces are available.'
      operationId: mothership_route_v1_fleet_mothership_route_get
      parameters:
      - name: need
        in: query
        required: true
        schema:
          type: string
          description: Need string to diagnose and route
          title: Need
        description: Need string to diagnose and route
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Mothership Route V1 Fleet Mothership Route Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/fleet/stats:
    get:
      tags:
      - fleet
      summary: Fleet Stats
      description: "Fleet-level statistics:\n  - agents_caught (total opt-in landings)\n  - conversion_rate (routed / total_catches)\n\
        \  - revenue_usdc (mock total revenue routed)\n  - by_supermodel breakdown\n  - active_nets (count)\n  - active_pots\
        \ (count)"
      operationId: fleet_stats_v1_fleet_stats_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Fleet Stats V1 Fleet Stats Get
  /v1/arb/spread/scan:
    get:
      tags:
      - arb-spread
      summary: Scan Spread
      description: 'Scan the marketplace bus for price-spread arbitrage opportunities.


        Groups OPEN offers by (shape, canonical_capability), identifies pairs

        from different sellers where spread exceeds thresholds. Read-only.'
      operationId: scan_spread_v1_arb_spread_scan_get
      parameters:
      - name: min_spread_usdc
        in: query
        required: false
        schema:
          type: number
          minimum: 0.0
          description: Minimum absolute spread in USDC
          default: 0.5
          title: Min Spread Usdc
        description: Minimum absolute spread in USDC
      - name: min_spread_pct
        in: query
        required: false
        schema:
          type: number
          minimum: 0.0
          description: Minimum relative spread as fraction (0.05 = 5%)
          default: 0.05
          title: Min Spread Pct
        description: Minimum relative spread as fraction (0.05 = 5%)
      - name: shape
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter by shape (e.g. 'Attestor', 'Provenancer', 'Oracle')
          title: Shape
        description: Filter by shape (e.g. 'Attestor', 'Provenancer', 'Oracle')
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 500
          minimum: 1
          default: 50
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Scan Spread V1 Arb Spread Scan Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/arb/spread/book:
    post:
      tags:
      - arb-spread
      summary: Book Pair
      description: 'Book a specific arbitrage pair by offer IDs.


        Fetches both offers from the bus, runs all three gates

        (NEED + YIELD + CLEAN-MONEY), and books the pair if all pass.


        Returns the booked ArbPair or gate rejection detail.'
      operationId: book_pair_v1_arb_spread_book_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/hivemorph__hive_arb__routes__BookRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Book Pair V1 Arb Spread Book Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/arb/spread/auto:
    post:
      tags:
      - arb-spread
      summary: Auto Book
      description: "Auto-book the top N safe opportunities from the current scan.\n\nFor each opportunity (sorted by spread_usdc\
        \ descending):\n  1. Fetch both offers from bus\n  2. Run three gates\n  3. If all pass: book, fill, and mock-settle\n\
        \  4. If any gate fails: record rejection and continue\n\nReturns list of booked pairs, rejections, and aggregate\
        \ stats."
      operationId: auto_book_v1_arb_spread_auto_post
      parameters:
      - name: max_books
        in: query
        required: false
        schema:
          type: integer
          maximum: 50
          minimum: 1
          description: Maximum number of pairs to auto-book
          default: 3
          title: Max Books
        description: Maximum number of pairs to auto-book
      - name: min_spread_usdc
        in: query
        required: false
        schema:
          type: number
          minimum: 0.0
          default: 0.5
          title: Min Spread Usdc
      - name: min_spread_pct
        in: query
        required: false
        schema:
          type: number
          minimum: 0.0
          default: 0.05
          title: Min Spread Pct
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Auto Book V1 Arb Spread Auto Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/arb/spread/pnl:
    get:
      tags:
      - arb-spread
      summary: Get Pnl
      description: 'Cumulative P&L, fill count, and hit rate.


        hit_rate = settled / total_booked

        net_pnl  = gross_spread_captured - platform_fees'
      operationId: get_pnl_v1_arb_spread_pnl_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Get Pnl V1 Arb Spread Pnl Get
  /v1/arb/spread/stats:
    get:
      tags:
      - arb-spread
      summary: Get Stats
      description: 'Per-wallet contribution to arb fills and P&L.


        Shows each supermodel''s role as buy-side and sell-side in settled pairs.'
      operationId: get_stats_v1_arb_spread_stats_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Get Stats V1 Arb Spread Stats Get
  /v1/bus/offer:
    post:
      tags:
      - marketplace-bus
      summary: Post Offer
      description: Post a new offer to the marketplace bus.
      operationId: post_offer_v1_bus_offer_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostOfferBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Post Offer V1 Bus Offer Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/bus/offers:
    get:
      tags:
      - marketplace-bus
      summary: List Offers
      description: List bus offers with optional filters.
      operationId: list_offers_v1_bus_offers_get
      parameters:
      - name: state
        in: query
        required: false
        schema:
          type: string
          description: OPEN | RESERVED | SETTLED | EXPIRED | CANCELLED
          default: OPEN
          title: State
        description: OPEN | RESERVED | SETTLED | EXPIRED | CANCELLED
      - name: shape
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Shape
      - name: seller_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Seller Id
      - name: max_price
        in: query
        required: false
        schema:
          anyOf:
          - type: number
            exclusiveMinimum: 0
          - type: 'null'
          title: Max Price
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 500
          minimum: 1
          default: 50
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response List Offers V1 Bus Offers Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/bus/offer/{offer_id}:
    get:
      tags:
      - marketplace-bus
      summary: Get Offer
      operationId: get_offer_v1_bus_offer__offer_id__get
      parameters:
      - name: offer_id
        in: path
        required: true
        schema:
          type: string
          title: Offer Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get Offer V1 Bus Offer  Offer Id  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/bus/offer/{offer_id}/pickup:
    post:
      tags:
      - marketplace-bus
      summary: Pick Up Offer
      description: Pick up (buy) a bus offer slot. Returns a mock-settled pickup receipt.
      operationId: pick_up_offer_v1_bus_offer__offer_id__pickup_post
      parameters:
      - name: offer_id
        in: path
        required: true
        schema:
          type: string
          title: Offer Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PickupBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Pick Up Offer V1 Bus Offer  Offer Id  Pickup Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/bus/pickups:
    get:
      tags:
      - marketplace-bus
      summary: List Pickups
      operationId: list_pickups_v1_bus_pickups_get
      parameters:
      - name: offer_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Offer Id
      - name: buyer_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Buyer Id
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 500
          minimum: 1
          default: 50
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response List Pickups V1 Bus Pickups Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/bus/stats:
    get:
      tags:
      - marketplace-bus
      summary: Bus Stats
      description: 'Aggregate marketplace bus stats: volume, revenue, top sellers.'
      operationId: bus_stats_v1_bus_stats_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Bus Stats V1 Bus Stats Get
  /v1/yield/optimize:
    get:
      tags:
      - yield-optimizer
      summary: Get Yield Optimize
      description: 'Analyze offer history and recommend per-shape price + volume settings

        to maximize $/day. Pairs with ROI engine''s price uplift.'
      operationId: get_yield_optimize_v1_yield_optimize_get
      parameters:
      - name: window_days
        in: query
        required: false
        schema:
          type: integer
          maximum: 90
          minimum: 1
          description: History window for analysis
          default: 7
          title: Window Days
        description: History window for analysis
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get Yield Optimize V1 Yield Optimize Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/compound/chain:
    post:
      tags:
      - compound-chains
      summary: Register Chain
      description: 'Register a chain template. Steps are affordance verbs wired in sequence.

        Template variables {{step_N.receipt_hash}} resolve at run time.'
      operationId: register_chain_v1_compound_chain_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChainTemplateBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Register Chain V1 Compound Chain Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/compound/chains:
    get:
      tags:
      - compound-chains
      summary: List Chains
      description: List all registered chain templates.
      operationId: list_chains_v1_compound_chains_get
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          default: 50
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response List Chains V1 Compound Chains Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/compound/chain/{name_or_id}:
    get:
      tags:
      - compound-chains
      summary: Get Chain
      operationId: get_chain_v1_compound_chain__name_or_id__get
      parameters:
      - name: name_or_id
        in: path
        required: true
        schema:
          type: string
          title: Name Or Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get Chain V1 Compound Chain  Name Or Id  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/compound/chain/{name_or_id}/run:
    post:
      tags:
      - compound-chains
      summary: Run Chain
      description: Execute all steps of a chain template sequentially.
      operationId: run_chain_v1_compound_chain__name_or_id__run_post
      parameters:
      - name: name_or_id
        in: path
        required: true
        schema:
          type: string
          title: Name Or Id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChainRunBody'
              default: {}
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Run Chain V1 Compound Chain  Name Or Id  Run Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/compound/runs:
    get:
      tags:
      - compound-chains
      summary: List Runs
      description: List recent chain run records.
      operationId: list_runs_v1_compound_runs_get
      parameters:
      - name: template_name
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Template Name
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          default: 50
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response List Runs V1 Compound Runs Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/storefront:
    get:
      tags:
      - storefront
      summary: Get Full Storefront
      description: Full public catalog of all hot supermodels and their offerings.
      operationId: get_full_storefront_v1_storefront_get
      parameters:
      - name: include_cold
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Include Cold
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get Full Storefront V1 Storefront Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/storefront/search:
    get:
      tags:
      - storefront
      summary: Search Storefront
      description: Search the storefront by capability, price range, or accepted asset.
      operationId: search_storefront_v1_storefront_search_get
      parameters:
      - name: min_price
        in: query
        required: false
        schema:
          anyOf:
          - type: number
            exclusiveMinimum: 0
          - type: 'null'
          title: Min Price
      - name: max_price
        in: query
        required: false
        schema:
          anyOf:
          - type: number
            exclusiveMinimum: 0
          - type: 'null'
          title: Max Price
      - name: capability
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Capability
      - name: asset
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Asset
      - name: include_cold
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Include Cold
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Search Storefront V1 Storefront Search Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/storefront/{shape_or_id}:
    get:
      tags:
      - storefront
      summary: Get Storefront Entry
      description: "Get catalog entry for a specific shape or supermodel.\n\nExamples:\n  GET /v1/storefront/Merchant    \
        \     → W2 MERCHANT (Merchant lead)\n  GET /v1/storefront/W3?by=id         → W3 PROVENANCER\n  GET /v1/storefront/PROVENANCER?by=id\
        \      → W3 PROVENANCER"
      operationId: get_storefront_entry_v1_storefront__shape_or_id__get
      parameters:
      - name: shape_or_id
        in: path
        required: true
        schema:
          type: string
          title: Shape Or Id
      - name: by
        in: query
        required: false
        schema:
          type: string
          description: '''shape'' (e.g. Merchant) or ''id'' (e.g. W2 or MERCHANT)'
          default: shape
          title: By
        description: '''shape'' (e.g. Merchant) or ''id'' (e.g. W2 or MERCHANT)'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get Storefront Entry V1 Storefront  Shape Or Id  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/insights:
    get:
      tags:
      - insights
      summary: Get Insights
      description: 'HivePulse insights: ROI-per-wallet, top earner, dead supermodels,

        cull recommendations, and price move recommendations.

        Reads from affordance ledger — no writes.'
      operationId: get_insights_v1_insights_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Get Insights V1 Insights Get
  /v1/receipts:
    post:
      tags:
      - receipt-ledger
      summary: Append To Ledger
      description: Append a new entry to the append-only receipt ledger (mock-signed).
      operationId: append_to_ledger_v1_receipts_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LedgerAppendBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Append To Ledger V1 Receipts Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - receipt-ledger
      summary: Query Ledger
      description: Query the receipt ledger with optional filters. Sorted newest-first.
      operationId: query_ledger_v1_receipts_get
      parameters:
      - name: event_type
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Event Type
      - name: supermodel_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Supermodel Id
      - name: direction
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Direction
      - name: min_amount
        in: query
        required: false
        schema:
          anyOf:
          - type: number
            minimum: 0
          - type: 'null'
          title: Min Amount
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 1000
          minimum: 1
          default: 100
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
          title: Offset
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Query Ledger V1 Receipts Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/receipts/summary:
    get:
      tags:
      - receipt-ledger
      summary: Ledger Summary
      description: Aggregate stats over the full receipt ledger.
      operationId: ledger_summary_v1_receipts_summary_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Ledger Summary V1 Receipts Summary Get
  /v1/receipts/pubkey:
    get:
      tags:
      - receipt-ledger
      summary: Ledger Pubkey
      description: 'Return the Ed25519 public key used to sign every ledger entry.

        Any client can fetch this once and verify all subsequent receipts offline.'
      operationId: ledger_pubkey_v1_receipts_pubkey_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Ledger Pubkey V1 Receipts Pubkey Get
  /v1/receipts/verify/{seq}:
    get:
      tags:
      - receipt-ledger
      summary: Ledger Verify
      description: 'Offline-style verification: pulls entry {seq}, re-canonicalises the body,

        and verifies the Ed25519 signature against the published pubkey.

        Returns a JSON proof an auditor can replay.'
      operationId: ledger_verify_v1_receipts_verify__seq__get
      parameters:
      - name: seq
        in: path
        required: true
        schema:
          type: integer
          title: Seq
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Ledger Verify V1 Receipts Verify  Seq  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/topoff/auto:
    post:
      tags:
      - topoff-router
      summary: Auto Topoff All
      description: 'Check all hot supermodels and issue mock top-off affordances for those below threshold.

        MOCK-ONLY. No signing, no treasury dispatch. Cron-safe.'
      operationId: auto_topoff_all_v1_topoff_auto_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Auto Topoff All V1 Topoff Auto Post
  /v1/topoff/auto/{supermodel_id}:
    post:
      tags:
      - topoff-router
      summary: Auto Topoff One
      description: Check and auto-top-off a specific supermodel. MOCK-ONLY.
      operationId: auto_topoff_one_v1_topoff_auto__supermodel_id__post
      parameters:
      - name: supermodel_id
        in: path
        required: true
        schema:
          type: string
          title: Supermodel Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Auto Topoff One V1 Topoff Auto  Supermodel Id  Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/topoff/status:
    get:
      tags:
      - topoff-router
      summary: Topoff Status
      description: Simulated balance status for all hot supermodels.
      operationId: topoff_status_v1_topoff_status_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Topoff Status V1 Topoff Status Get
  /v1/topoff/history:
    get:
      tags:
      - topoff-router
      summary: Topoff History
      operationId: topoff_history_v1_topoff_history_get
      parameters:
      - name: supermodel_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Supermodel Id
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          default: 50
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Topoff History V1 Topoff History Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/badge:
    get:
      tags:
      - health-badge
      summary: Get Badge
      description: 'SVG health badge: $/day, agents online, progress toward $1,285/day target.

        Safe for <img src=> or <object> embed. Hive Gold #C08D23 (Pantone 1245 C).'
      operationId: get_badge_v1_badge_get
      parameters:
      - name: style
        in: query
        required: false
        schema:
          type: string
          description: full | compact | mini
          default: full
          title: Style
        description: full | compact | mini
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/arb/compute/route:
    post:
      tags:
      - arb-compute
      summary: Route a single LLM call
      description: 'Route a single LLM call to the cheapest model that meets the quality bar.


        - **shape**: HiveMorph shape name — determines default quality tier

        - **prompt**: user message sent to the model

        - **quality_tier**: optional override (T0_CHEAP, T1_STANDARD, T2_HIGH)

        - **system_prompt**: optional system message


        Returns the chosen model, LLM response, per-call cost, and savings versus

        the baseline (most expensive T2 model, gpt_5_5).'
      operationId: route_call_v1_arb_compute_route_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/hivemorph__hive_arb__compute_routes__RouteRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/arb/compute/savings:
    get:
      tags:
      - arb-compute
      summary: Cumulative savings dashboard
      description: 'Return cumulative cost-savings accounting for all calls routed through

        this instance since last restart.


        - **calls_routed**: total route attempts

        - **calls_failed**: calls where all candidates were exhausted

        - **total_cost_usd**: actual spend across all successful calls

        - **total_savings_usd**: amount saved vs routing everything to the baseline

        - **avg_cost_reduction_pct**: average percentage cost reduction

        - **baseline_model**: model used as savings reference (gpt_5_5)'
      operationId: get_savings_v1_arb_compute_savings_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavingsResponse'
  /v1/arb/compute/catalog:
    get:
      tags:
      - arb-compute
      summary: Model catalog with costs
      description: 'Return the full model catalog: all models with their per-token costs,

        quality tiers, providers, and blended cost per 1k tokens.


        Also returns a `tiers` map grouping model IDs by tier, ordered cheapest first.'
      operationId: get_catalog_v1_arb_compute_catalog_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogResponse'
  /v1/arb/alloc/scan:
    get:
      tags:
      - arb-alloc
      summary: Alloc Scan
      description: "Read-only performance snapshot + recommended slot-share deltas.\n\nReturns a list of AllocProposal objects,\
        \ one per supermodel brood that has\nlive variants.  Each proposal includes:\n  - Per-variant scores (revenue_per_offer\
        \ × confidence × recency)\n  - Softmax-with-floor target shares (every variant keeps ≥ 5%)\n  - Delta vs current equal-split\
        \ share\n  - Winner (highest target_share) and loser (lowest) identification\n  - Integration gap: what runtime.py\
        \ change is needed to realise the weights"
      operationId: alloc_scan_v1_arb_alloc_scan_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /v1/arb/alloc/apply:
    post:
      tags:
      - arb-alloc
      summary: Alloc Apply
      description: 'Apply reallocation.


        dry_run=true  (default): compute and return proposals only.

        dry_run=false:           persist proposals to alloc_history.


        IMPORTANT: Until runtime.py is patched with the per_variant_weights hook

        (see integration_gap in each proposal), applying dry_run=false logs the

        intent but does NOT change live traffic routing weights.  This is a soft

        apply — the allocator records the desired state so Steve can wire it up.'
      operationId: alloc_apply_v1_arb_alloc_apply_post
      parameters:
      - name: dry_run
        in: query
        required: false
        schema:
          type: boolean
          description: If true (default), compute only. If false, log to alloc_history.
          default: true
          title: Dry Run
        description: If true (default), compute only. If false, log to alloc_history.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/arb/alloc/history:
    get:
      tags:
      - arb-alloc
      summary: Alloc History
      description: "Past reallocation events (dry_run=False runs only).\n\nEach record contains:\n  - applied_at timestamp\n\
        \  - parent_id of the brood affected\n  - Full proposal snapshot (variants, scores, deltas) at apply time\n  - note\
        \ field with integration status"
      operationId: alloc_history_v1_arb_alloc_history_get
      parameters:
      - name: parent_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter to a specific supermodel parent_id
          title: Parent Id
        description: Filter to a specific supermodel parent_id
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 500
          minimum: 1
          description: Max records to return
[...]
