openapi: 3.2.0
info:
  title: Thehiveryiq Com Xcalibur Quorum V2 API
  version: 0.1.0
  description: 'Operations tagged xcalibur-quorum-v2 across 2 of this provider''s published API definitions: thehiveryiq-com-hivemorph-openapi.json, thehiveryiq-com-hivemorph-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://receipts.thehiveryiq.com
  description: 'Production. The document is served from this host at /openapi.json and the provider''s own llms.txt on the same host states ''Base URL: https://receipts.thehiveryiq.com''; the original document declares no servers[] (added by API Evangelist, see overlays/).'
tags:
- name: xcalibur-quorum-v2
paths:
  /v1/xcalibur/quorum/v2/reason:
    post:
      tags:
      - xcalibur-quorum-v2
      summary: Quorum V2 Reason
      description: 'Run QUORUM v2 ensemble reasoning.


        Dispatches the prompt through up to 4 strategies:

        1. SELF-CONSISTENCY (Wang et al. 2022) — single model, k=5, majority vote

        2. QUORUM-WEIGHTED — k=5 across diverse models/temperatures

        3. CHAIN-VERIFY — zero-shot CoT + verification pass

        4. SOLVE-AND-EXPLAIN — structured step-by-step with double-check


        An oracle picks the strategy with highest internal answer agreement.

        Returns signed receipt with per-strategy answers and confidence scores.'
      operationId: quorum_v2_reason_v1_xcalibur_quorum_v2_reason_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuorumV2ReasonBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Quorum V2 Reason V1 Xcalibur Quorum V2 Reason Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/xcalibur/quorum/v2/health:
    get:
      tags:
      - xcalibur-quorum-v2
      summary: Quorum V2 Health
      description: Liveness check. Returns primitive version and signing pubkey.
      operationId: quorum_v2_health_v1_xcalibur_quorum_v2_health_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Quorum V2 Health V1 Xcalibur Quorum V2 Health Get
components:
  schemas:
    QuorumV2ReasonBody:
      properties:
        prompt:
          type: string
          minLength: 1
          title: Prompt
          description: The reasoning problem to solve.
        max_strategies:
          anyOf:
          - type: integer
            maximum: 4.0
            minimum: 1.0
          - type: 'null'
          title: Max Strategies
          description: How many strategies to run (1-4). 3 skips SOLVE-AND-EXPLAIN for speed. 1 runs only self-consistency (baseline mode).
          default: 4
      type: object
      required:
      - prompt
      title: QuorumV2ReasonBody
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
x-refined-from:
- thehiveryiq-com-hivemorph-openapi.json
- thehiveryiq-com-hivemorph-openapi.yml
x-mpp:
  realm: api.thehiveryiq.com
  payment:
    method: tempo
    currency: '0x20c000000000000000000000b9537d11c60e8b50'
    decimals: 6
    recipient: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
  rails:
  - x402
  - mpp
  categories:
  - compute
  - inference
  integration: first-party
  tags:
  - inference
  - openai-compatible
  - llm
  - embeddings
  - compute
  - stream-a
  - settleable
  treasury: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
