openapi: 3.2.0
info:
  title: Thehiveryiq Com HiveMorph V0.1 API
  version: 0.1.0
  description: 'Operations tagged HiveMorph V0.1 across 2 of this provider''s published API definitions: thehiveryiq-com-hivemorph-openapi.json, thehiveryiq-com-hivemorph-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://receipts.thehiveryiq.com
  description: 'Production. The document is served from this host at /openapi.json and the provider''s own llms.txt on the same host states ''Base URL: https://receipts.thehiveryiq.com''; the original document declares no servers[] (added by API Evangelist, see overlays/).'
tags:
- name: HiveMorph V0.1
paths:
  /:
    get:
      summary: Service descriptor (content-negotiated)
      description: 'Content-negotiated root. Accept: application/json (or agent/MCP/curl User-Agent, or no Accept header) returns the JSON service descriptor. Accept: text/html (or browser User-Agent) returns the HTML landing page with Organization + 22 SoftwareApplication JSON-LD entries.'
      operationId: root__get
      responses:
        '200':
          description: Service descriptor (JSON) or landing page (HTML).
          content:
            application/json:
              schema: {}
            text/html: {}
      tags:
      - HiveMorph V0.1
x-refined-from:
- thehiveryiq-com-hivemorph-openapi.json
- thehiveryiq-com-hivemorph-openapi.yml
x-mpp:
  realm: api.thehiveryiq.com
  payment:
    method: tempo
    currency: '0x20c000000000000000000000b9537d11c60e8b50'
    decimals: 6
    recipient: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
  rails:
  - x402
  - mpp
  categories:
  - compute
  - inference
  integration: first-party
  tags:
  - inference
  - openai-compatible
  - llm
  - embeddings
  - compute
  - stream-a
  - settleable
  treasury: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
