openapi: 3.2.0
info:
  title: Thehiveryiq Com Compliance API
  version: 0.1.0
  description: 'Operations tagged compliance across 2 of this provider''s published API definitions: thehiveryiq-com-hivemorph-openapi.json, thehiveryiq-com-hivemorph-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://receipts.thehiveryiq.com
  description: 'Production. The document is served from this host at /openapi.json and the provider''s own llms.txt on the same host states ''Base URL: https://receipts.thehiveryiq.com''; the original document declares no servers[] (added by API Evangelist, see overlays/).'
tags:
- name: Compliance
paths:
  /v1/compliance/coverage:
    get:
      tags:
      - Compliance
      summary: Machine-readable compliance matrix — MiCA, DORA, EU AI Act, NSM-10, NIST PQC
      description: 'Free. Machine-readable version of the Hive NanoPay compliance coverage matrix.

        11 rows across 7 frameworks. 9 pass, 2 n/a.

        PDF: https://thehiveryiq.com/nanopay/hive_nanopay_compliance_matrix.pdf'
      operationId: compliance_coverage_v1_compliance_coverage_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Compliance Coverage V1 Compliance Coverage Get
x-refined-from:
- thehiveryiq-com-hivemorph-openapi.json
- thehiveryiq-com-hivemorph-openapi.yml
x-mpp:
  realm: api.thehiveryiq.com
  payment:
    method: tempo
    currency: '0x20c000000000000000000000b9537d11c60e8b50'
    decimals: 6
    recipient: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
  rails:
  - x402
  - mpp
  categories:
  - compute
  - inference
  integration: first-party
  tags:
  - inference
  - openai-compatible
  - llm
  - embeddings
  - compute
  - stream-a
  - settleable
  treasury: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
