openapi: 3.2.0
info:
  title: Thehiveryiq Com Tax API
  version: 0.1.0
  description: 'Operations tagged tax across 2 of this provider''s published API definitions: thehiveryiq-com-hivemorph-openapi.json, thehiveryiq-com-hivemorph-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://receipts.thehiveryiq.com
  description: 'Production. The document is served from this host at /openapi.json and the provider''s own llms.txt on the same host states ''Base URL: https://receipts.thehiveryiq.com''; the original document declares no servers[] (added by API Evangelist, see overlays/).'
tags:
- name: Tax
paths:
  /v1/tax/event:
    post:
      tags:
      - Tax
      summary: Post Tax Event
      description: Classify a single transaction. Real on-chain reads. Inputs only — no advice.
      operationId: post_tax_event_v1_tax_event_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxEventBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Post Tax Event V1 Tax Event Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tax/bulk:
    post:
      tags:
      - Tax
      summary: Post Tax Bulk
      description: Classify an array of transactions in a single call (max 50).
      operationId: post_tax_bulk_v1_tax_bulk_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxBulkBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Post Tax Bulk V1 Tax Bulk Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tax/today:
    get:
      tags:
      - Tax
      summary: Get Tax Today
      description: Count of taxable-classified events seen in the last 24h, by event type.
      operationId: get_tax_today_v1_tax_today_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Get Tax Today V1 Tax Today Get
  /v1/tax/health:
    get:
      tags:
      - Tax
      summary: Get Tax Health
      operationId: get_tax_health_v1_tax_health_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Get Tax Health V1 Tax Health Get
components:
  schemas:
    TaxEventBody:
      properties:
        tx_hash:
          type: string
          title: Tx Hash
          description: Transaction hash (EVM) or signature (Solana)
        chain:
          type: string
          title: Chain
          description: base | ethereum | solana
      type: object
      required:
      - tx_hash
      - chain
      title: TaxEventBody
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    TaxBulkBody:
      properties:
        tx_hashes:
          items:
            type: string
          type: array
          title: Tx Hashes
          description: Array of transaction hashes/signatures
        chain:
          type: string
          title: Chain
          description: base | ethereum | solana
      type: object
      required:
      - tx_hashes
      - chain
      title: TaxBulkBody
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
x-refined-from:
- thehiveryiq-com-hivemorph-openapi.json
- thehiveryiq-com-hivemorph-openapi.yml
x-mpp:
  realm: api.thehiveryiq.com
  payment:
    method: tempo
    currency: '0x20c000000000000000000000b9537d11c60e8b50'
    decimals: 6
    recipient: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
  rails:
  - x402
  - mpp
  categories:
  - compute
  - inference
  integration: first-party
  tags:
  - inference
  - openai-compatible
  - llm
  - embeddings
  - compute
  - stream-a
  - settleable
  treasury: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
