openapi: 3.2.0
info:
  title: Thehiveryiq Com Evidence API
  version: 0.1.0
  description: 'Operations tagged Evidence across 2 of this provider''s published API definitions: thehiveryiq-com-hivemorph-openapi.json, thehiveryiq-com-hivemorph-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://receipts.thehiveryiq.com
  description: 'Production. The document is served from this host at /openapi.json and the provider''s own llms.txt on the same host states ''Base URL: https://receipts.thehiveryiq.com''; the original document declares no servers[] (added by API Evangelist, see overlays/).'
tags:
- name: Evidence
paths:
  /evidence/manifest.json:
    get:
      summary: Evidence manifest — what we expose vs what we claim, by surface
      description: 'Per-surface evidence manifest. For each public claim, we list:

        - status: LIVE / PILOT / ROADMAP

        - surfaces: HTTP endpoints that produce signed bytes today

        - proof: what the signed bytes prove (and what they don''t)

        - audit: where an external auditor can re-walk the chain


        No marketing language. If a row says LIVE, it ships signed bytes

        on hivemorph today. If it says PILOT, it ships under a gate. If

        it says ROADMAP, the surface is design-only.'
      operationId: evidence_manifest_json_evidence_manifest_json_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Evidence
x-refined-from:
- thehiveryiq-com-hivemorph-openapi.json
- thehiveryiq-com-hivemorph-openapi.yml
x-mpp:
  realm: api.thehiveryiq.com
  payment:
    method: tempo
    currency: '0x20c000000000000000000000b9537d11c60e8b50'
    decimals: 6
    recipient: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
  rails:
  - x402
  - mpp
  categories:
  - compute
  - inference
  integration: first-party
  tags:
  - inference
  - openai-compatible
  - llm
  - embeddings
  - compute
  - stream-a
  - settleable
  treasury: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
